@include desktop {

  .comingSoon {
    
    background-color: $c-black;
    color: $c-white;
  }

  .comingSoon h2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .comingSoonText {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
  }

  .comingSoonText a {
    @include button
    
  }


  .comingSoonImg {

    height: 600px;
    width: 600px;
    margin: 0 auto;
    background-image: url('/img/covers/cover10.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}